* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.highlight {
  color: #9c93f9;
}

a {
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  color: #9c93f9;
}

ul {
  list-style: none;
}

#container {
  display: flex;
  flex-direction: row;
  color: #fff;
}
@media (max-width: 450px) {
  #container {
    flex-direction: column;
  }
}

#bio-container {
  flex: 1 1 20%;
  min-height: 100vh;
  background-color: #282a36;
  text-align: center;
  padding: 30px 12px;
  border-right: 5px solid #4b5475;
}

#about-container {
  flex: 1 1 80%;
  min-height: 100vh;
  background-color: #21222c;
  padding: 50px;
}
@media (max-width: 450px) {
  #about-container {
    text-align: center;
    padding: 30px;
  }
}

#bio-container img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-bottom: 25px;
}
#bio-container h2 {
  margin-bottom: 25px;
}
@media (max-width: 450px) {
  #bio-container h2 {
    display: none;
  }
}
#bio-container p {
  margin-bottom: 20px;
}
@media (max-width: 450px) {
  #bio-container p {
    max-width: 60%;
    margin: 10px auto;
  }
}
@media (max-width: 450px) {
  #bio-container {
    min-height: auto;
    border-right: none;
    border-bottom: 5px solid #4b5475;
  }
}

#welcome-text {
  font-weight: bold;
}

#social-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #696e80;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
#social-container li {
  flex: 1 1 0;
  max-width: 60px;
}
#social-container li a {
  color: #9c93f9;
  font-size: 1.5rem;
}

#email-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#email-container ion-icon, #email-container a {
  flex: 1 1 0;
}
#email-container a {
  color: #fff;
  text-decoration: none;
  max-width: 165px;
}
#email-container ion-icon {
  color: #9c93f9;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  max-width: 20px;
}

#name {
  font-size: 42px;
  margin-bottom: 15px;
}

#title {
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: bold;
}

.description {
  max-width: 75%;
  margin-bottom: 10px;
}
@media (max-width: 450px) {
  .description {
    margin: 10px auto;
    max-width: 100%;
    line-height: 26px;
  }
}

#btn-projects {
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  background-color: #9c93f9;
  border: 2px solid #9c93f9;
  border-radius: 5px;
  transform: 0.5s;
  margin: 25px 0;
  padding: 12px 10px;
  width: 200px;
  text-align: center;
  display: flex;
}
#btn-projects ion-icon, #btn-projects span {
  flex: auto;
}
#btn-projects ion-icon {
  font-size: 20px;
  width: 20px;
}
#btn-projects:hover {
  background-color: transparent;
}
@media (max-width: 450px) {
  #btn-projects {
    margin: 20px auto;
  }
}

#skills-section-title {
  border-top: 1px solid #696e80;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}

#skills-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.skills-box {
  flex: 1 1 33%;
  max-width: 33%;
  margin-bottom: 35px;
}
.skills-box i {
  font-size: 2rem;
  margin-right: 0.5rem;
}
@media (max-width: 450px) {
  .skills-box i {
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  .skills-box {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
}

.skills-title {
  font-size: 1.4rem;
  margin-bottom: 25px;
  font-weight: bold;
  padding-left: 10px;
  border-left: 5px solid #9c93f9;
}
@media (max-width: 450px) {
  .skills-title {
    border-left: none;
  }
}

/*# sourceMappingURL=main.css.map */
